<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="Driver={iSeries Access ODBC Driver}; System=10.1.1.10;
                Uid=;Pwd=; Querytimeout=0;" providerName="System.Data.Odbc"/>
  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
